---
import Navigation from "./Navigation.astro";
import Hamburger from "./Hamburger.astro";
import ThemeIcon from "./ThemeIcon.astro";
---

<header>
    <h1>My Astro Site</h1>
    <nav>
        <Hamburger />
        <ThemeIcon />
        <Navigation />
    </nav>
</header>
